@mixin center-block() {
  margin-left: auto;
  margin-right: auto;
}

@mixin table-center($local-height: 100%) {
  display: table;
  height: $local-height;
  width: 100%;
}

@mixin inner-table-center($local-text-align: center) {
  display: table-cell;
  vertical-align: middle;
  text-align: $local-text-align;
}

@mixin remove-list-defaults() {
  padding: 0;
  margin: 0;
  list-style: none;
}

/**
 * Please use utility classes SPARINGLY.
 * If used, try to refactor asap, and make
 * it into a component if necessary.
 */
._right {
  float: right;
}

._left {
  float: left;
}

._clearfix {
  @include clearfix;
}
