$black:  #505057; /* text black */
$blacker: #3a3a3a; /* heading black */
$white: #fff;

$gray-lt: #f0f0f0;
$gray: #eee; /* default gray (light) */
$gray-dk: #888; /* darkened */
$off-gray: #E0E0E0; /* the most visible gray */

$crimson: #E85C41;
$aqua: #6DC5DC;
$leaf: #60ab50;
$sun: #efe52d;

// base
$base-font-size: 14px;

$tiny: 18px;
$small: 24px;
$medium: 32px;
$big: 36px;

$narrow: 250px;
$wide: 500px;

$border-radius-base: 3px;
$border-radius-rounded: 25px;

$allowance: 50px;
$allowance-narrower: 12.5px;
$allowance-narrow: 25px;
$allowance-wide: 50px;
