@mixin alert-variant($local-bg, $local-color: $white) {
  color: darken($local-color, 5%);
  background: $local-bg;

  a,
  a:hover {
    color: darken($local-color, 7.5%);
  }
}

.c-alert {
  padding: 15px;
  width: 100%;
  color: $black;
  background: $gray;

  &.-info {
    @include alert-variant($aqua);
  }

  &.-success {
    @include alert-variant($leaf);
  }

  &.-danger {
    @include alert-variant($crimson);
  }

  &.-warning {
    //
  }

  a,
  a:hover {
    text-decoration: underline;
  }
}
