/**
 * @usage
 *    <div class="breadcrumbs">
 *        <a href="#">Parent</a>
 *        <a href="#">Sub Parent</a>
 *        <span>Current</span>
 *    </div>
 */
.breadcrumbs {
  height: 50px;
  padding: 15px 20px 0 20px;
  overflow: hidden; /* sorry, nested pages */
  margin-top: 50px; /* collapses anyway */
  margin-bottom: 50px;

  color: $black;
  @include montserrat;

  background: $gray;

  border-radius: $border-radius-base;

  /* remove anchor text-deco */
  *,
  *:hover {
    text-decoration: none;
  }


  *:not(:last-child):after {
    content: "/";
    margin-left: 10px;
    margin-right: 10px;

    /* hack */
    pointer-events: none;
    color: $gray-dk;
  }

  *:last-child {
    font-weight: bold;
  }
}
