/**
 * Awesome for registration / login, connects all input

 */
.form-container-wrapped {
  margin-bottom: 25px;

  .form-control:not(:last-child) {
    border-bottom-color: transparent;
  }

  .form-control:not(:first-child) {
    border-radius: 0;
  }

  .form-control:first-child {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .form-control:last-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}
