.c-isolated-section {
  & {
    width: 250px;
    @include center-block;
  }

  &.-large {
    width: 500px;
  }

  & > .outercontainer {
    @include table-center(100vh);
  }

  & > .outercontainer > .innercontainer {
    @include inner-table-center;
  }

  h2 {
    margin-top: 0; // Margin does not collapse, causing bullshit space
    margin-bottom: 25px;
  }


  .submitbtn {
    @extend .c-btn;
    @extend .c-btn.-info;
    @extend .c-btn.-block;
    margin-bottom: 25px;
  }
}
