@mixin label-variant($local-bg, $local-color: $white) {
  color: $local-color;
  background: $local-bg;
}

@mixin label-size($local-size, $local-font-size) {
  height: $local-size;
  line-height: $local-size;
  font-size: #{$local-font-size}em;
}

.c-label {
  @include clearfix;
  display: inline-block;
  height: $medium;
  line-height: $medium; /* center text */
  padding: 0px 10px;
  color: $black;
  @include montserrat;
  background: $gray;
  border-radius: $border-radius-base;

  // For changes in modifiers
  transition: 0.15s all;


  &.-info {
    @include label-variant($aqua);
  }

  &.-warning {
    @include label-variant($sun, $black);
  }

  &.-danger {
    @include label-variant($crimson);
  }

  &.-success {
    @include label-variant($leaf);
  }

  &.-small {
    @include label-size($small, 0.9);
  }

  &.-tiny {
    @include label-size($tiny, 0.85);
  }

  &.-big {
    @include label-size($big, 1.1);
  }

  & ~ & {
    margin-left: 10px;
  }

  > .emphasized {
    margin-right: 10px;
  }

  .lessemphasis {
    @include source-sans;
  }
}
