/**
 * @usage
 * <div class='c-large-table'>
 *   <div class='sortmenu'>
 *   </div>
 *   <div class='listitem'>
 *     <div class='info'>
 *       <div class="g-col-6">
 *       </div>
 *     </div>
 *
 *     <div class='actions'>
 *       <a href="#" class="c-btn">Delete</a>
 *     </div>
 *   </div>
 * </div>
 */
.c-large-table {
  > .sortmenu {
    @include row;
    padding-bottom: 25px;
    border-bottom: 1px solid $off-gray;
  }

  > .sortmenu > .menuitem {
    float: left;
    margin-left: 10px;
  }

  > .sortmenu > .menu-item.-right {
    float: right;
    margin-right: 10px;
  }

  > .listitem {
    @include row; /* no need to add g-row */
    padding-top: 50px;
    padding-bottom: 50px;
    border-bottom: 1px solid $off-gray;
  }

  > .listitem:last-child {
    border: 0;
  }

  > .listitem > .info {
    @include span-columns(8);
    @include clearfix;
  }

  > .listitem > .actions {
    @include span-columns(4);
    @include clearfix;
  }

  > .listitem > .actions > * {
    float: right;
    margin-left: 10px;
  }

  h1,
  h4 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1; /* reset to 1; default is set to 1.7 */
  }

  /* remove defaults */
  a,
  a:hover {
    text-decoration: none;
  }
}
