.c-nav {
  height: 50px;
  width: 100%;
  padding: 12px 20px;
  background: $gray-lt;
  @include clearfix;
  @include montserrat;

  margin-bottom: $allowance; /* allowance for content */

  .left {
    float: left;
  }

  .right {
    float: right;
  }

  a {
    display: block;
    float: left;
    padding: 0 20px;
    color: $black;
  }

  a:hover,
  a.-active {
    color: $crimson;
    text-decoration: none; // remove anchor defaults
  }

  .nav-bar {
      color: #FF6600;
      font-family: Impact, Charcoal, sans-serif;
  }
}
