
/**
 *
 */
.c-selection-list {
  .item {
    padding: $allowance-narrow 0;
    border: 1px solid transparent;
    border-bottom-color: $off-gray;
    overflow: hidden;
  }

  .item.-closed > & {
    max-height: 0;
    margin: 0;
    opacity: 0;
    visibility: hidden;
  }

  .item.-expanded > & {
    max-height: 1;
    opacity: 1;
    visibility: visible;
  }

  /* apply borders for firsts */
  .item:first-child {
    border-top-color: $off-gray;
  }

  .item:last-child {
    border-bottom-color: transparent;
  }

  /* nested */
  .item > & {
    margin-top: 25px; /* */
    margin-left: 50px;
    transition: 0.15s all;
  }

  .item > & > .item {
    padding: 0;
    border: 0;
    margin-bottom: $allowance-narrower;
  }

  .item > & > .item:last-child {
    margin-bottom: 0;
  }

  .item .actions {
    float: right;
  }

  h1, h2, h3 {
    margin: 0;
  }
}
