/**
 * we'll keep this component simple
 * because it's "js-free"
 */

.c-simple-tabs {
  $tab-size: 50px;

  > .tablist {
    @include clearfix;
    border-bottom: 1px solid $gray;
    margin-bottom: $allowance;
  }

  > .tablist.-narrow {
    margin-bottom: $allowance-narrow;
  }

  > .tablist.-wide {
    margin-bottom: $allowance-wide;
  }

  > .tablist > .tab {
    float: left;
    margin-right: $tab-size;

    height: $tab-size;

    color: $black;
    line-height: $tab-size;
    font-size: 18px;

    background: $white;
  }

  > .tablist > .tab:hover,
  > .tablist > .tab.-active {
    // applies only to hover
    // but oh well hahha (lazy)
    text-decoration: none;

    color: $aqua;
  }

  > .tablist > .tab > .caret {
    margin-left: 15px;
  }

}
