.c-top-menu {
  @include clearfix;
  margin-top: $allowance;
  margin-bottom: $allowance;

  &.-no-allowance-bottom {
    margin-bottom: 0;
  }

  &.-narrow-allowance-bottom {
    margin-bottom: $allowance-narrow;
  }

  // Reset all h1, h2 line-height
  h1, h2 {
    line-height: 1; /* reset, so all headings are aligned */
    font-size: 2rem;
  }

  > .left > *,
  > .right > * {
    margin: 0;
  }

  /* left */

  > .left {
    @include clearfix;
    float: left;
  }

  > .left > * {
    float: left;
  }

  .left > *:not(:first-child) {
    margin-left: 25px;
  }

  > .left > .-narrow {
    margin-left: 15px;
  }

  /* right */

  > .right {
    @include clearfix;
    float: right;
  }

  > .right > * {
    float: right;
  }

  > .right > *:not(:first-child) {
    margin-right: 25px;
  }

  > .right > .-narrow {
    margin-right: 15px;
  }
}
