/**
 * step-by-step forms aka wizards
 */
.c-wizard-footer {
  @include clearfix;
  height: 50px;
  width: 100%;
  padding: 15px 20px;

  background: $black;

  &.-fixed {
    position: fixed;
    bottom: 0;
    left: 0;
  }

  > .steps {
    @include clearfix;
    float: left;
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }

  > .steps > .step {
    display: block;
    float: left;
    margin-right: 25px;

    color: $white;
    @include montserrat;
  }

  > .steps > .step,
  > .steps > .step:hover {
    text-decoration: none;
  }

  > .steps > .step.-active {
    font-weight: bold;
    color: $aqua;
  }

  > .steps > .step:last-child {
    margin-right: 0;
  }

  > .steps > .step:not(:last-child):after {
    content: ">";
    margin-left: 25px;

    pointer-events: none; /* hackish */
  }

  > .actions {
    float: right;
  }
}
