.form-control {
  display: block;
  height: $medium;
  width: 100%;
  padding: 0 5px;
  border: 1px solid $gray-dk;
  border-radius: $border-radius-base;

  &.-half {
    width: 50%;
  }

  &.-auto {
    width: auto;
  }

  &.-fixed-small {
    width: 150;
  }
}

textarea.form-control {
  height: auto;
}

.form-container {
  margin-bottom: 25px;

  &.-no-allowance-top {
    margin-top: 0;
  }

  &.-no-allowance-bottom {
    margin-bottom: 0;
  }

  &.-no-allowance {
    margin-top: 0;
    margin-bottom: 0;
  }

  label {
    height: $medium;
    width: 100%;
    display: inline-block;
  }

  label > input[type="checkbox"] {
    margin-right: 10px; /* spacing between checkbox / text */
  }

  // > .form-control + * {
  //   margin-top: 5px;
  //   margin-bottom: 0;
  // }

  .tip {
    color: $off-gray;
  }
}

@mixin form-checkbox-size($local-size) {
  > div {
    width: $local-size;
    height: $local-size;
  }

  > div:before {
    line-height: $local-size
  }
}

/**
 * @usage
 * <label class="form-checkbox">
 *   <input type="checkbox">
 *   <div></div>
 *   Click me!
 * </label>
 */
.form-checkbox {
  display: inline-block;

  &.-small {
    @include form-checkbox-size($small);
  }

  > input[type="checkbox"] {
    display: none;
  }

  > div {
    position: relative;
    display: inline-block;
    width: $medium;
    height: $medium;
    background: $white;
    border: 2px solid $off-gray;
    border-radius: $border-radius-base;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    transition: 0.25s all;
  }

  > div:before {
    content:"\2713";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    line-height: $medium;
    color: $white;
  }

  &:hover > div {
    border-color: $aqua;
  }

  > input[type="checkbox"]:checked + div {
    background: $aqua;
  }

  &:hover > input[type="checkbox"]:checked + div {
    border-color: darken($off-gray, 5%);
  }

  > div + span {
    margin-left: 15px;
  }
}

/**
 * @usage
 *  <div class='form-labelled-input'>
 *   <label>Sort By</label>
 *   <input type="text" class="form-control">
 *  </div>
 *
 * @todo
 * - adapt label to differetn form-control sizes
 */
.form-labelled-input {
  > label,
  > .form-control {
    float: left;
  }

  > label {
    @include montserrat;
    line-height: $medium;
    margin-right: $allowance-narrow;
  }
}
