@mixin g-container() {
  width: 992px;
  @include outer-container;
}

/* main container */
.g-container {
  @include g-container;
}

/* containers */
.g-narrow {
  width: $narrow;
}

.g-wide {
  width: $wide;
}

/* spacing */
.g-bottom-space {
  margin-bottom: $allowance;
}

.g-bottom-space-narrow {
  margin-bottom: $allowance-narrow;
}

.g-bottom-space-wide {
  margin-bottom: $allowance-wide;
}

/* column container */
.g-row {
  @include row;

  /* so we don't have to add -right foreach column */
  &.-right > * {
    float: right !important;
  }
}

/*
 * columns
 * .g-col-1 ~ 12
 */
@for $i from 1 through 12 {
  .g-col-#{$i} {
    @include span-columns($i);

    /* we'll use this sparingly */
    &.-right {
      float: right !important;
    }
  }
}
