* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: $white;
  color: $black;
  font-size: $base-font-size;
  line-height: 1.7;
  @include source-sans;

  // so we get extra space at the bottom without requiring elelemts
  // to implement margin-bottom
  padding-bottom: 100px;
}

.white-space-pre {
    white-space: pre;
}
