th {
  text-align: left; /* yea */
}

.table {
  width: 100%;
  max-width: 100%;
  background: $white;

  &.-hovered > tbody > tr:hover > td {
    background: $gray;
  }

  > thead > tr > th {
    @include montserrat;
  }

  > thead > tr > th,
  > tbody > tr > td {
    padding: 3px 5px;
  }

  > thead > tr > th.-link:hover,
  > tbody > tr > td.-link:hover {
    cursor: pointer;
  }


  > thead > tr > th.-align-right,
  > tbody > tr > td.-align-right {
    text-align: right;
  }

  > thead > tr > th.-align-center,
  > tbody > tr > td.-align-center {
    text-align: center;
  }

  > thead > tr > th.-align-middle,
  > tbody > tr > td.-align-middle {
    vertical-align: top;
  }
}
