@mixin montserrat() {
  font-family: "Montserrat", "Source Sans Pro", sans-serif;
  font-weight: 400;
}

@mixin source-sans() {
  font-family: "Source Sans Pro", sans-serif;
}

@mixin source-sans-light() {
  font-weight: 300;
}

a {
  color: $aqua;
  text-decoration: none;

  &:hover {
    color: darken($aqua, 0.5);
    text-decoration: underline;
  }
}

@for $i from 1 through 2 {
  h#{$i} {
    @include source-sans-light;
  }
}

hr {
  width: 100%;
  margin-bottom: $allowance-narrow;
  border-color: $off-gray;

  &.-styled {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

.typo-hr {
  height: 3px;
  width: 25px;
  background: $gray;

  margin-bottom: $allowance-narrow;

  &.-info {
    background: $aqua;
  }

  &.-danger {
    background: $crimson;
  }

  &.-warning {
    background: $sun;
  }

  &.-success {
    background: $leaf;
  }
}

.typo-no-vertical-rhythm {
  line-height: 1;
  margin-top: 0;
  margin-bottom: 0;
}
